/* body {
  margin: 0;
  background-color: black;
  color: white;
  text-size-adjust: 100%;
}

*, *:before, *:after {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
div {
  display: block;
}

.game {
  /* background-color: black; */
  /* position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-left: -300px;
    margin-top: -370px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}
board-container {
  width: 100%;
  heigth: 100%;
  border: 1px solid pink;
}

.square {
  float: left;
width: 33.333333333%;
height: 33.333333333%;
border-width: 5px;
border-color: #fff;
/* -webkit-transition: background-color .1s;
-moz-transition: background-color .1s;
transition: background-color .1s;
will-change: background-color,border-color;
cursor: pointer; */
/* }

.square.left {
  border-right-style: solid;
}

.square.top {
  border-bottom-style: solid;
}

.square.right {
  border-left-style: solid;
}

.square.bottom {
  border-top-style: solid;
}  */


.body {
  box-sizing: border-box;
}

.board-container {
  display: grid;
  grid-template-columns: auto auto auto ;
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
  /* width: 25%;  */
  position: absolute;
  text-align
}

.square {
  background-color: black;
  border: 5px solid white;
  color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  vertical-align: center;
  height: 80px;
  width: 80px;
  border-width: 3px;
}
