.square.left {
  border-right-style: solid;
}

.square.top {
  border-bottom-style: solid;
}

.square.right {
  border-left-style: solid;
}

.square.bottom {
  border-top-style: solid;
}

/* header {
  background-image: linear-gradient(to right, white , pink, lightblue, white);
    /* background-image: url("img/guil-wars-header.jpg"); */
  /* height: 200px; */
  /* margin-left: 35%;
  margin-right: 35%; */
  /* justify-content: center; */

header {
  height: 150px;
}

body {
  box-sizing: border-box;
}

body {
  /* background-image: url("img/guild-wars-2-heart-of-thorns-3.jpg"); */
  background-image: url("img/guildcolourful.jpg");
  background-size: cover;
  /* background-size: cover; */
  font-family: 'Alegreya', serif;
}

.winnerAlert {
  background-color: green;
  display: hidden;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
  /* background-image: url("img/spring.jpg"); */
  /* background: url("img/spring.jpg"); */
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: 2s;
    animation-timing-function: linear;
  background-size: cover;
   opacity:  0.7;
  /* opacity: 0.7; */
  /* width: 25%;  */

}
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.harder {
      animation-name: spin;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    background-size: cover;
     opacity:  0.7;

  }
    @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }



.square {
  /* background-color: black; */
  /* border: 10px solid white; */
  color: white;
  padding: 70px;
  font-size: 30px;
  text-align: center;
  vertical-align: center;
  height: 80px;
  opacity:  1;
  /* background-image: linear-gradient(to right, rgb(51, 153, 51), rgb(0, 204, 102), rgb(51, 102, 0)); */
  /* width: 80px;  */

}

.score-board {
}

.player1-score {
  display: inline-block;
  bottom: 50%;
  margin-top: 0px;
  position: fixed;
  right: 81%;
  padding: 5px;
}

.player2-score {
  display: inline-block;
  bottom: 50%;
  margin-top: 0px;
  position: fixed;
  left: 81%;
  text-align: center;
    padding: 5px;
}

.button-container {
  position: relative;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}
button {
  position: relative;
  display: inline-block;
  text-align: center;
  max-width: 700px;
  padding: 20px;
  margin-top: 20px;
  background-image: linear-gradient(45deg, #d6cfb0 0%, #e489b2 100%);
  border-image: linear-gradient(45deg, #d6cfb0 0%, #e489b2 100%);
  cursor: pointer;
  letter-spacing: 0.075em;
  padding: .8em 1em;
  margin: auto 2em;
  align-self: center;
  text-transform: uppercase;
  z-index: 1;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  /* transform-origin: left bottom; */
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-family: 'Alegreya', serif;
}
}

/* The alert message box */
