.square.left {
  border-right-style: solid;
}

.square.top {
  border-bottom-style: solid;
}

.square.right {
  border-left-style: solid;
}

.square.bottom {
  border-top-style: solid;
}

header {
  height: 150px;
}

body {
  box-sizing: border-box;
}

body {
  background-image: url("img/guildcolourful.jpg");
  background-size: cover;
  font-family: 'Alegreya', serif;
}

.winnerAlert {
  /* background-image: linear-gradient(45deg, #d6cfb0 0%, #e489b2 100%); */
  text-align: center;
  position: relative;
  /* color: mix(#fff, #e91e63, 85%); */
  font-size: 3em;
  font-weight: 900;
  text-shadow: 2px 2px #87b8dd;
  color:  black;
}

.board-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
  background-size: cover;
  opacity:  0.7;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: 2s;
    animation-timing-function: linear;

}
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.harder {
      animation-name: spin;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    background-size: cover;
     opacity:  0.7;

  }
    @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }



.square {
  /* background-color: black; */
  /* border: 10px solid white; */
  position: relative;
  color: white;
  padding: 70px;
  font-size: 30px;
  text-align: center;
  vertical-align: center;
  height: 80px;
  opacity:  1;
  min-width: 0;
  /* background-image: linear-gradient(to right, rgb(51, 153, 51), rgb(0, 204, 102), rgb(51, 102, 0)); */
  /* width: 80px;  */

}

img {
  max-width: 100%;
}

.score-board {
  text-shadow: 1px 1px gray;
  color: black;
  font-size: 1.5em;

}

.player1-score {
  display: inline-block;
  bottom: 50%;
  margin-top: 0px;
  position: absolute;
  right: 81%;
  text-align: center;
  padding: 10px;
  background-image: url('img/spring.jpg');
  background-size: cover;
  border-radius: 70%;
  height: 100px;
  width: 100px;
  vertical-align: bottom;
}

.player2-score {
  display: inline-block;
  bottom: 50%;
  margin-top: 0px;
  position: absolute;
  left: 81%;
  text-align: center;
  padding: 10px;
  background-image: url('img/spring.jpg');
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  vertical-align: bottom;
}

.button-container {
  position: relative;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

button {
  position: relative;
  display: inline-block;
  text-align: center;
  max-width: 700px;
  padding: 20px;
  margin-top: 20px;
  background-image: linear-gradient(45deg, #d6cfb0 0%, #e489b2 100%);
  border-image: linear-gradient(45deg, #d6cfb0 0%, #e489b2 100%);
  cursor: pointer;
  letter-spacing: 0.075em;
  padding: .8em 1em;
  margin: auto 2em;
  align-self: center;
  text-transform: uppercase;
  z-index: 1;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  /* transform-origin: left bottom; */
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-family: 'Alegreya', serif;

}


.disable-click {
  pointer-events: none;
}
